In [1]:
import pandas as pd

In [4]:
"ABSETFTEE_DF"[0:10]

'ABSETFTEE_'

In [38]:
d = {"NODE_ID": ['AAA', 'BBB', 'CCC'], "DISTANCE": [10, 20, 30], 'IS_SVRED': [1, 2, 3]}
df1 = pd.DataFrame(d)

In [39]:
df1

  NODE_ID  DISTANCE  IS_SVRED
0     AAA        10         1
1     BBB        20         2
2     CCC        30         3

In [40]:
d2 = {"NODE_ID": ['AAA', 'CCC', 'BBB'], "DISTANCE": [45, 22, 44], 'IS_SVRED2': [1, 0, 3]}
df2 = pd.DataFrame(d2)

In [42]:
df3 = pd.merge(df1, df2[["NODE_ID","IS_SVRED2"]], on="NODE_ID")

In [53]:
aa = df3['NODE_ID'].loc[df3['DISTANCE'] == 10]

In [57]:
str(aa[0])

'AAA'

In [58]:
df = pd.read_csv('temp/anal_NeartestCurSOC_network.csv')

In [85]:
# dfpopremovedSOC['CUR_ISSVRED'].loc[dfpopremovedSOC[self.__poplyrID] == popID][0]
str(df['CUR_ISSVRED'].loc[df['POPFID'] == 2].values[0])

'0'

In [2]:
df = pd.read_csv('temp/anal_NeartestCurSOC_network.csv')
df.head()

   Unnamed: 0  OBJECTID  NODE_KEY  POP_TOTAL        ID   ACC_SCORE
0           0         3    617641      957.0  223771.0  102.263535
1           1        67    595574     1369.0  239131.0    0.004606
2           2        70    332080     1992.0  233097.0    0.348889
3           3        71    440263      851.0  233068.0   31.361559
4           4        75    715098     2051.0  225832.0   48.313464

In [160]:
list = ['455658', '480225', '608079', '483943', '501545', '497552', '479712', '429472', '476259', '490566', '512618', '549051', '589402', '565777', '570303', '527590', '526791', '511484', '512789']

In [162]:
'512085' in list

False

In [3]:
dt2 = df.loc[df.ID == 15296]

In [4]:
dt2

      Unnamed: 0  OBJECTID  NODE_KEY  POP_TOTAL       ID  ACC_SCORE
6288        6288    233942    598403     1820.0  15296.0  11.050140
7513        7513      9999    597991     1111.0  15296.0  17.536924

In [6]:
dt2['SUMOFDIST'] = dt2['POP_TOTAL'] * dt2['ACC_SCORE']
dt2.head()

/anaconda3/envs/ds_ml/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,Unnamed: 0,OBJECTID,NODE_KEY,POP_TOTAL,ID,ACC_SCORE,SUMOFDIST
6288,6288,233942,598403,1820.0,15296.0,11.050140,20111.255632
7513,7513,9999,597991,1111.0,15296.0,17.536924,19483.522044

In [7]:
dt2group = dt2.groupby(['ID'])

In [36]:
dt3 = dt2.groupby(['ID'])['POP_TOTAL', 'ACC_SCORE', 'SUMOFDIST'].agg(
    {
        'POP_TOTAL':{'POP_TOTAL_SUM': 'sum'}, 
        'ACC_SCORE':{'ACC_SCORE_SUM': 'sum'},
        'SUMOFDIST':{'SUMOFDIST_SUM': 'sum'},
        'POP_TOTAL':{'COUNT': 'count'}
    }
).reset_index()

In [37]:
dt3.head()

        ID  COUNT  ACC_SCORE_SUM  SUMOFDIST_SUM
0  15296.0      2      28.587064   39594.777676

In [17]:
dt3.columns = dt3.columns.droplevel(0)

In [18]:
dt3

               sum  count        sum  count           sum  count
0  15296.0  2931.0      2  28.587064      2  39594.777676      2

In [51]:
dt2['AAA'] = dt2['POP_TOTAL'] * dt2['ACC_SCORE']

/anaconda3/envs/ds_ml/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [52]:
dt2

,Unnamed: 0,OBJECTID,NODE_KEY,POP_TOTAL,ID,ACC_SCORE,AAA
6288,6288,233942,598403,1820.0,15296.0,11.050140,20111.255632
7513,7513,9999,597991,1111.0,15296.0,17.536924,19483.522044

In [69]:
dt2group = dt2.groupby(['ID'])

In [70]:
dt2group

In [63]:
dt2group['POP_TOTAL', 'ACC_SCORE'].agg(['sum','count']).reset_index()

        ID POP_TOTAL        ACC_SCORE
                 sum count        sum count
0  15296.0    2931.0     2  28.587064     2

In [68]:
dt2group['POP_TOTAL', 'ACC_SCORE'].agg(['sum','count']).reset_index()

        ID POP_TOTAL        ACC_SCORE
                 sum count        sum count
0  15296.0    2931.0     2  28.587064     2

In [60]:
dt2group['POP_TOTAL', 'ACC_SCORE'].sum()

NameError: name 'count' is not defined

In [57]:
dt2group['ID'].count()

ID
15296.0    2
Name: ID, dtype: int64

In [34]:
dfgroup = df.groupby(['ID'])

In [36]:
dfgroup.describe()

         Unnamed: 0                                                      \
              count    mean std     min     25%     50%     75%     max
ID
3.0             1.0  1808.0 NaN  1808.0  1808.0  1808.0  1808.0  1808.0
67.0            1.0  7130.0 NaN  7130.0  7130.0  7130.0  7130.0  7130.0
70.0            1.0  5326.0 NaN  5326.0  5326.0  5326.0  5326.0  5326.0
71.0            1.0  5302.0 NaN  5302.0  5302.0  5302.0  5302.0  5302.0
75.0            1.0  2336.0 NaN  2336.0  2336.0  2336.0  2336.0  2336.0
76.0            1.0  2300.0 NaN  2300.0  2300.0  2300.0  2300.0  2300.0
77.0            1.0  2244.0 NaN  2244.0  2244.0  2244.0  2244.0  2244.0
78.0            1.0  2198.0 NaN  2198.0  2198.0  2198.0  2198.0  2198.0
703.0           1.0  1993.0 NaN  1993.0  1993.0  1993.0  1993.0  1993.0
704.0           1.0  1960.0 NaN  1960.0  1960.0  1960.0  1960.0  1960.0
705.0           1.0  1931.0 NaN  1931.0  1931.0  1931.0  1931.0  1931.0
706.0           1.0  1928.0 NaN  1928.0  1928.0  1928.0  1928.0  1928.0
711.0           1.0  3510.0 NaN  3510.0  3510.0  3510.0  3510.0  3510.0
712.0           1.0  3454.0 NaN  3454.0  3454.0  3454.0  3454.0  3454.0
713.0           1.0  3445.0 NaN  3445.0  3445.0  3445.0  3445.0  3445.0
722.0           1.0  4785.0 NaN  4785.0  4785.0  4785.0  4785.0  4785.0
724.0           1.0  4742.0 NaN  4742.0  4742.0  4742.0  4742.0  4742.0
725.0           1.0  4692.0 NaN  4692.0  4692.0  4692.0  4692.0  4692.0
730.0           1.0  6088.0 NaN  6088.0  6088.0  6088.0  6088.0  6088.0
731.0           1.0  6070.0 NaN  6070.0  6070.0  6070.0  6070.0  6070.0
732.0           1.0  6056.0 NaN  6056.0  6056.0  6056.0  6056.0  6056.0
733.0           1.0  6031.0 NaN  6031.0  6031.0  6031.0  6031.0  6031.0
734.0           1.0  6003.0 NaN  6003.0  6003.0  6003.0  6003.0  6003.0
737.0           1.0  6942.0 NaN  6942.0  6942.0  6942.0  6942.0  6942.0
738.0           1.0  6922.0 NaN  6922.0  6922.0  6922.0  6922.0  6922.0
739.0           1.0  6910.0 NaN  6910.0  6910.0  6910.0  6910.0  6910.0
747.0           1.0  7380.0 NaN  7380.0  7380.0  7380.0  7380.0  7380.0
1058.0          1.0  7504.0 NaN  7504.0  7504.0  7504.0  7504.0  7504.0
1073.0          1.0  7436.0 NaN  7436.0  7436.0  7436.0  7436.0  7436.0
1074.0          1.0  7427.0 NaN  7427.0  7427.0  7427.0  7427.0  7427.0
...             ...     ...  ..     ...     ...     ...     ...     ...
241309.0        1.0  7490.0 NaN  7490.0  7490.0  7490.0  7490.0  7490.0
241310.0        1.0  7496.0 NaN  7496.0  7496.0  7496.0  7496.0  7496.0
241665.0        1.0  7497.0 NaN  7497.0  7497.0  7497.0  7497.0  7497.0
241666.0        1.0   482.0 NaN   482.0   482.0   482.0   482.0   482.0
241667.0        1.0  7495.0 NaN  7495.0  7495.0  7495.0  7495.0  7495.0
241668.0        1.0   480.0 NaN   480.0   480.0   480.0   480.0   480.0
241669.0        1.0   481.0 NaN   481.0   481.0   481.0   481.0   481.0
241670.0        1.0  7487.0 NaN  7487.0  7487.0  7487.0  7487.0  7487.0
241671.0        1.0  7493.0 NaN  7493.0  7493.0  7493.0  7493.0  7493.0
241672.0        1.0  7494.0 NaN  7494.0  7494.0  7494.0  7494.0  7494.0
241673.0        1.0   479.0 NaN   479.0   479.0   479.0   479.0   479.0
241674.0        1.0  7482.0 NaN  7482.0  7482.0  7482.0  7482.0  7482.0
241675.0        1.0  7486.0 NaN  7486.0  7486.0  7486.0  7486.0  7486.0
241923.0        1.0  7506.0 NaN  7506.0  7506.0  7506.0  7506.0  7506.0
241924.0        1.0  7505.0 NaN  7505.0  7505.0  7505.0  7505.0  7505.0
241925.0        1.0   475.0 NaN   475.0   475.0   475.0   475.0   475.0
241926.0        1.0   478.0 NaN   478.0   478.0   478.0   478.0   478.0
241927.0        1.0  7501.0 NaN  7501.0  7501.0  7501.0  7501.0  7501.0
241928.0        1.0  7502.0 NaN  7502.0  7502.0  7502.0  7502.0  7502.0
241929.0        1.0   474.0 NaN   474.0   474.0   474.0   474.0   474.0
241930.0        1.0  7503.0 NaN  7503.0  7503.0  7503.0  7503.0  7503.0
241931.0        1.0  7498.0 NaN  7498.0  7498.0  7498.0  7498.0  7498.0
242180.0        1.0  7510.0 NaN  7510.0  7510.0  7510.0  7510.0  7510.0
242181.0        1.0  7508.0 NaN  7508.0  7508.0  7508.0  7508.0  7508.0
242182.0        1.0   477.0 NaN   477.0   477.0   477.0   477.0   477.0
242183.0        1.0  7509.0 NaN  7509.0  7509.0  7509.0  7509.0  7509.0
242185.0        1.0  7507.0 NaN  7507.0  7507.0  7507.0  7507.0  7507.0
242186.0        1.0   476.0 NaN   476.0   476.0   476.0   476.0   476.0
242400.0        1.0  7511.0 NaN  7511.0  7511.0  7511.0  7511.0  7511.0
242401.0        1.0  7512.0 NaN  7512.0  7512.0  7512.0  7512.0  7512.0

         OBJECTID            ... POP_TOTAL         ACC_SCORE                  \
            count      mean  ...       75%     max     count        mean std
ID                           ...
3.0           1.0  222034.0  ...    1065.0  1065.0       1.0   23.697429 NaN
67.0          1.0  237440.0  ...    1593.0  1593.0       1.0   76.199642 NaN
70.0          1.0  231697.0  ...    1876.0  1876.0       1.0   97.743446 NaN
71.0          1.0  231668.0  ...     577.0   577.0       1.0   40.258375 NaN
75.0          1.0  223795.0  ...     810.0   810.0       1.0   40.759819 NaN
76.0          1.0  223746.0  ...    1085.0  1085.0       1.0   29.273143 NaN
77.0          1.0  223685.0  ...    2093.0  2093.0       1.0    0.617098 NaN
78.0          1.0  223622.0  ...     332.0   332.0       1.0  271.297394 NaN
703.0         1.0  222862.0  ...    1181.0  1181.0       1.0    9.060132 NaN
704.0         1.0  222829.0  ...    1040.0  1040.0       1.0   61.743222 NaN
705.0         1.0  222797.0  ...     171.0   171.0       1.0   31.860330 NaN
706.0         1.0  222772.0  ...    1041.0  1041.0       1.0   19.060882 NaN
711.0         1.0  227275.0  ...    2748.0  2748.0       1.0   33.587495 NaN
712.0         1.0  227204.0  ...      48.0    48.0       1.0   68.184463 NaN
713.0         1.0  227184.0  ...     490.0   490.0       1.0  152.717730 NaN
722.0         1.0  230668.0  ...    1709.0  1709.0       1.0    0.012759 NaN
724.0         1.0  230619.0  ...     482.0   482.0       1.0    3.577810 NaN
725.0         1.0  230569.0  ...     271.0   271.0       1.0   54.158513 NaN
730.0         1.0  233297.0  ...     954.0   954.0       1.0   53.179653 NaN
731.0         1.0  233274.0  ...      69.0    69.0       1.0   91.152599 NaN
732.0         1.0  233256.0  ...     584.0   584.0       1.0    1.015324 NaN
733.0         1.0  233225.0  ...     824.0   824.0       1.0   13.060131 NaN
734.0         1.0  233196.0  ...    2154.0  2154.0       1.0   13.120456 NaN
737.0         1.0  236224.0  ...    1120.0  1120.0       1.0   27.599583 NaN
738.0         1.0  236201.0  ...    1530.0  1530.0       1.0    2.520104 NaN
739.0         1.0  236188.0  ...       7.0     7.0       1.0  391.237259 NaN
747.0         1.0  239300.0  ...     647.0   647.0       1.0   18.122632 NaN
1058.0        1.0  240778.0  ...    2789.0  2789.0       1.0    0.002859 NaN
1073.0        1.0  239705.0  ...     502.0   502.0       1.0   20.663361 NaN
1074.0        1.0  239691.0  ...    2689.0  2689.0       1.0  295.664477 NaN
...           ...       ...  ...       ...     ...       ...         ...  ..
241309.0      1.0  240406.0  ...     426.0   426.0       1.0   13.568636 NaN
241310.0      1.0  240412.0  ...    1310.0  1310.0       1.0   25.510455 NaN
241665.0      1.0  240413.0  ...     113.0   113.0       1.0   15.027438 NaN
241666.0      1.0   19832.0  ...     860.0   860.0       1.0   28.371849 NaN
241667.0      1.0  240411.0  ...    1957.0  1957.0       1.0   34.947810 NaN
241668.0      1.0   19830.0  ...    1812.0  1812.0       1.0   26.853238 NaN
241669.0      1.0   19831.0  ...      10.0    10.0       1.0    0.021336 NaN
241670.0      1.0  240403.0  ...     617.0   617.0       1.0   22.652410 NaN
241671.0      1.0  240409.0  ...     172.0   172.0       1.0   75.598308 NaN
241672.0      1.0  240410.0  ...     600.0   600.0       1.0    0.005755 NaN
241673.0      1.0   19829.0  ...    1162.0  1162.0       1.0   48.713225 NaN
241674.0      1.0  240398.0  ...    1481.0  1481.0       1.0   38.632467 NaN
241675.0      1.0  240402.0  ...    2141.0  2141.0       1.0   76.164387 NaN
241923.0      1.0  240783.0  ...    2233.0  2233.0       1.0   26.954334 NaN
241924.0      1.0  240779.0  ...     551.0   551.0       1.0    0.002840 NaN
241925.0      1.0   15612.0  ...    1554.0  1554.0       1.0    0.016043 NaN
241926.0      1.0   19782.0  ...    2125.0  2125.0       1.0   61.797204 NaN
241927.0      1.0  240775.0  ...    2195.0  2195.0       1.0   98.351924 NaN
241928.0      1.0  240776.0  ...    1020.0  1020.0       1.0   47.071731 NaN
241929.0      1.0   15611.0  ...    1084.0  1084.0       1.0   34.006641 NaN
241930.0      1.0  240777.0  ...    1203.0  1203.0       1.0   79.876695 NaN
241931.0      1.0  240772.0  ...    1157.0  1157.0       1.0    0.605874 NaN
242180.0      1.0  241036.0  ...    1472.0  1472.0       1.0    4.765665 NaN
242181.0      1.0  241031.0  ...     387.0   387.0       1.0   64.628984 NaN
242182.0      1.0   19730.0  ...    1164.0  1164.0       1.0    2.327249 NaN
242183.0      1.0  241035.0  ...    1556.0  1556.0       1.0   13.460035 NaN
242185.0      1.0  241030.0  ...     722.0   722.0       1.0   27.474014 NaN
242186.0      1.0   19729.0  ...    3113.0  3113.0       1.0   42.009840 NaN
242400.0      1.0  241286.0  ...     175.0   175.0       1.0   31.385166 NaN
242401.0      1.0  241287.0  ...     252.0   252.0       1.0   33.483921 NaN


                 min         25%         50%         75%         max
ID
3.0        23.697429   23.697429   23.697429   23.697429   23.697429
67.0       76.199642   76.199642   76.199642   76.199642   76.199642
70.0       97.743446   97.743446   97.743446   97.743446   97.743446
71.0       40.258375   40.258375   40.258375   40.258375   40.258375
75.0       40.759819   40.759819   40.759819   40.759819   40.759819
76.0       29.273143   29.273143   29.273143   29.273143   29.273143
77.0        0.617098    0.617098    0.617098    0.617098    0.617098
78.0      271.297394  271.297394  271.297394  271.297394  271.297394
703.0       9.060132    9.060132    9.060132    9.060132    9.060132
704.0      61.743222   61.743222   61.743222   61.743222   61.743222
705.0      31.860330   31.860330   31.860330   31.860330   31.860330
706.0      19.060882   19.060882   19.060882   19.060882   19.060882
711.0      33.587495   33.587495   33.587495   33.587495   33.587495
712.0      68.184463   68.184463   68.184463   68.184463   68.184463
713.0     152.717730  152.717730  152.717730  152.717730  152.717730
722.0       0.012759    0.012759    0.012759    0.012759    0.012759
724.0       3.577810    3.577810    3.577810    3.577810    3.577810
725.0      54.158513   54.158513   54.158513   54.158513   54.158513
730.0      53.179653   53.179653   53.179653   53.179653   53.179653
731.0      91.152599   91.152599   91.152599   91.152599   91.152599
732.0       1.015324    1.015324    1.015324    1.015324    1.015324
733.0      13.060131   13.060131   13.060131   13.060131   13.060131
734.0      13.120456   13.120456   13.120456   13.120456   13.120456
737.0      27.599583   27.599583   27.599583   27.599583   27.599583
738.0       2.520104    2.520104    2.520104    2.520104    2.520104
739.0     391.237259  391.237259  391.237259  391.237259  391.237259
747.0      18.122632   18.122632   18.122632   18.122632   18.122632
1058.0      0.002859    0.002859    0.002859    0.002859    0.002859
1073.0     20.663361   20.663361   20.663361   20.663361   20.663361
1074.0    295.664477  295.664477  295.664477  295.664477  295.664477
...              ...         ...         ...         ...         ...
241309.0   13.568636   13.568636   13.568636   13.568636   13.568636
241310.0   25.510455   25.510455   25.510455   25.510455   25.510455
241665.0   15.027438   15.027438   15.027438   15.027438   15.027438
241666.0   28.371849   28.371849   28.371849   28.371849   28.371849
241667.0   34.947810   34.947810   34.947810   34.947810   34.947810
241668.0   26.853238   26.853238   26.853238   26.853238   26.853238
241669.0    0.021336    0.021336    0.021336    0.021336    0.021336
241670.0   22.652410   22.652410   22.652410   22.652410   22.652410
241671.0   75.598308   75.598308   75.598308   75.598308   75.598308
241672.0    0.005755    0.005755    0.005755    0.005755    0.005755
241673.0   48.713225   48.713225   48.713225   48.713225   48.713225
241674.0   38.632467   38.632467   38.632467   38.632467   38.632467
241675.0   76.164387   76.164387   76.164387   76.164387   76.164387
241923.0   26.954334   26.954334   26.954334   26.954334   26.954334
241924.0    0.002840    0.002840    0.002840    0.002840    0.002840
241925.0    0.016043    0.016043    0.016043    0.016043    0.016043
241926.0   61.797204   61.797204   61.797204   61.797204   61.797204
241927.0   98.351924   98.351924   98.351924   98.351924   98.351924
241928.0   47.071731   47.071731   47.071731   47.071731   47.071731
241929.0   34.006641   34.006641   34.006641   34.006641   34.006641
241930.0   79.876695   79.876695   79.876695   79.876695   79.876695
241931.0    0.605874    0.605874    0.605874    0.605874    0.605874
242180.0    4.765665    4.765665    4.765665    4.765665    4.765665
242181.0   64.628984   64.628984   64.628984   64.628984   64.628984
242182.0    2.327249    2.327249    2.327249    2.327249    2.327249
242183.0   13.460035   13.460035   13.460035   13.460035   13.460035
242185.0   27.474014   27.474014   27.474014   27.474014   27.474014
242186.0   42.009840   42.009840   42.009840   42.009840   42.009840
242400.0   31.385166   31.385166   31.385166   31.385166   31.385166
242401.0   33.483921   33.483921   33.483921   33.483921   33.483921

[7513 rows x 40 columns]

In [30]:
df2 = dfgroup['POP_TOTAL', 'ACC_SCORE'].sum()

In [32]:
dfgroup = df.groupby(['ID'])

In [ ]:
df = pd.read_csv('temp/anal_NeartestCurSOC_network.csv')
df.head()

In [ ]:
df['ACC_SCORE'].head(1)

In [ ]:
tmpdfPOP = df.copy()

In [ ]:
float(tmpdfPOP["ACC_SCORE"].loc[tmpdfPOP['NODE_KEY'] == '429659'].head(1))

In [ ]:
df = pd.read_csv('data/test_matrix4_AllCurSOC.csv')

In [ ]:
df_copy = df.copy()

In [ ]:
df_copy['ACC_SCORE'] = 0;

In [ ]:
df_copy.loc[df_copy['OBJECTID'] == 3, "ACC_SCORE"] = 9999

In [ ]:
df_copy.head()

In [ ]:
df_copy['OBJECTID']

In [ ]:
import networkx as nx

In [ ]:
nxgraph = nx.Graph()

In [ ]:
nodelist = ["A", "B", "C", "D", "E"]
nxgraph.add_nodes_from(nodelist)
linklist = zip(
                ["A", "A", "B", "B", "C", "D"],
                ["C", "B", "D", "E", "D", "E"],
                [2, 1, 4, 5, 7, 6]

                )
tmplink = tuple(linklist)

nxgraph.add_weighted_edges_from(tmplink)

In [ ]:
path = nx.single_source_dijkstra_path(nxgraph, "A")

In [ ]:
dict(nx.all_pairs_dijkstra(nxgraph))

In [ ]:
pred, dist = nx.dijkstra_predecessor_and_distance(nxgraph, "A")

In [ ]:
pred

In [ ]:
dist

In [ ]:
length, dist = nx.single_source_bellman_ford(nxgraph, "A")

In [ ]:
length

In [ ]:
dist = nx.single_target_shortest_path(nxgraph, "A")

In [ ]:
dist

In [ ]:
length = nx.multi_source_dijkstra_path_length(nxgraph, {"A"})
length

In [ ]:
length = nx.multi_source_dijkstra_path_length(nxgraph, {"A", "B"})
length

In [ ]:
import pickle

In [ ]:
output_alllink = 'temp/alllink.pickle'
with open(output_alllink, 'rb') as handle:
    allNodes = pickle.load(handle)

In [ ]:
allNodes['459921']['459921']

In [ ]:
import operator

In [ ]:
sdict[1][1]

In [ ]:
pairNode = allNodes['672735']

In [ ]:
new_dict = {idx: val for idx, val in pairNode.items() if (val <= 1000)}

In [ ]:
sdict= sorted(pairNode.items(), key=operator.itemgetter(1))

In [ ]:
sdict

In [ ]:
sorteddict = sorted(new_dict.items(), key=operator.itemgetter(1))

In [ ]:
sorteddict[1][1]

In [ ]:
sorteddict

### shortest

In [20]:
import pickle

In [21]:
import os

In [22]:
alllink = ('data/alllink.pickle')

In [23]:
with open(alllink, 'rb') as handle:
    allNodes = pickle.load(handle)

In [24]:
pairNode = allNodes['1010006000']

In [ ]:
i * 2  if  i>3 else i for i in temp

In [29]:
{idx: 1000 if val > 1000 else val for idx, val in pairNode.items()}

{'1010006000': 0,
 '1010005700': 69.3582085487,
 '1010005800': 73.2255383225,
 '1010005600': 121.5255372943,
 '1010000400': 271.070562822,
 '1030019800': 273.86800924930003,
 '1030018900': 459.1692356733,
 '1030019200': 463.2744601187,
 '1030036200': 477.2560963316,
 '1010007800': 483.91952521,
 '1030036400': 583.8175617766,
 '1030017500': 588.4515771446,
 '1030036300': 683.0126326869,
 '1030003200': 685.8277643773,
 '1030017700': 707.3636631441,
 '1030015100': 839.2574326346,
 '1010010300': 855.450205952,
 '1010014500': 936.4685724020001,
 '1010010400': 939.6566613273001,
 '1030018100': 943.7105522053,
 '1010009900': 985.5174004496,
 '1030002400': 997.2058143346001,
 '1010010500': 1000,
 '1010012700': 1000,
 '1010015200': 1000,
 '1030003000': 1000,
 '1030019700': 1000,
 '1030011600': 1000,
 '1010012000': 1000,
 '1010018600': 1000,
 '1030019500': 1000,
 '1020033500': 1000,
 '1030014400': 1000,
 '1010020100': 1000,
 '1030019600': 1000,
 '1010018300': 1000,
 '1030017400': 1000,
 '1010007600': 1000,
 '1010020700': 1000,
 '1030016500': 1000,
 '1030014500': 1000,
 '1030013300': 1000,
 '1030009900': 1000,
 '1020033300': 1000,
 '1010000600': 1000,
 '1020039300': 1000,
 '1030009500': 1000,
 '1010007400': 1000,
 '1010021400': 1000,
 '1010006900': 1000,
 '1030017000': 1000,
 '1030010500': 1000,
 '1030012500': 1000,
 '1030010000': 1000,
 '1030011100': 1000,
 '1020033400': 1000,
 '1030016900': 1000,
 '1010022100': 1000,
 '1010012600': 1000,
 '1010007100': 1000,
 '1030016200': 1000,
 '1010010100': 1000,
 '1020039200': 1000,
 '1030017600': 1000,
 '1030009600': 1000,
 '1010022200': 1000,
 '1030002000': 1000,
 '1030017200': 1000,
 '1030015400': 1000,
 '1020033200': 1000,
 '1030016700': 1000,
 '1030013000': 1000,
 '1010025500': 1000,
 '1010019000': 1000,
 '1010021500': 1000,
 '1020032900': 1000,
 '1010025100': 1000,
 '1010023800': 1000,
 '1010022000': 1000,
 '1010007300': 1000,
 '1010024900': 1000,
 '1030000400': 1000,
 '1010019300': 1000,
 '1020033600': 1000,
 '1030010100': 1000,
 '1010024000': 1000,
 '1010009600': 1000,
 '1020032400': 1000,
 '1010025600': 1000,
 '1010020300': 1000,
 '1010026500': 1000,
 '1030016100': 1000,
 '1010020400': 1000,
 '1010024500': 1000,
 '1030022400': 1000,
 '1020032700': 1000,
 '1010024400': 1000,
 '1010021000': 1000,
 '1030023100': 1000,
 '1010019900': 1000,
 '1010019200': 1000,
 '1010027500': 1000,
 '1010024100': 1000,
 '1010019600': 1000,
 '1010030600': 1000,
 '1030007100': 1000,
 '1030014000': 1000,
 '1020033000': 1000,
 '1010026900': 1000,
 '1010023500': 1000,
 '1030023000': 1000,
 '1010026800': 1000,
 '1030013600': 1000,
 '1010028100': 1000,
 '1010019700': 1000,
 '1030011300': 1000,
 '1010024300': 1000,
 '1010023000': 1000,
 '1020027700': 1000,
 '1010028500': 1000,
 '1010023700': 1000,
 '1030018700': 1000,
 '1010027300': 1000,
 '1030020000': 1000,
 '1020031500': 1000,
 '1010032000': 1000,
 '1010025700': 1000,
 '1010026300': 1000,
 '1010020600': 1000,
 '1020034300': 1000,
 '1030002300': 1000,
 '1010020900': 1000,
 '1010025400': 1000,
 '1010031700': 1000,
 '1030019400': 1000,
 '1030014300': 1000,
 '1010005500': 1000,
 '1010031200': 1000,
 '1030009400': 1000,
 '1010018800': 1000,
 '1010019800': 1000,
 '1010021800': 1000,
 '1030021100': 1000,
 '1010029300': 1000,
 '1030009000': 1000,
 '1010031900': 1000,
 '1030019300': 1000,
 '1010022600': 1000,
 '1010034800': 1000,
 '1010026100': 1000,
 '1010030700': 1000,
 '1010031800': 1000,
 '1010032400': 1000,
 '1010033600': 1000,
 '1010035200': 1000,
 '1020030800': 1000,
 '1010028800': 1000,
 '1030016800': 1000,
 '1030008000': 1000,
 '1010002800': 1000,
 '1020030600': 1000,
 '1030010600': 1000,
 '1030017800': 1000,
 '1030011400': 1000,
 '1010034700': 1000,
 '1010032900': 1000,
 '1010005400': 1000,
 '1010022800': 1000,
 '1030022500': 1000,
 '1020030300': 1000,
 '1010035100': 1000,
 '1010017600': 1000,
 '1010018900': 1000,
 '1020029000': 1000,
 '1220062500': 1000,
 '1010030100': 1000,
 '1030031200': 1000,
 '1030030200': 1000,
 '1010033000': 1000,
 '1030022600': 1000,
 '1010005300': 1000,
 '1020034400': 1000,
 '1020029300': 1000,
 '1010011600': 1000,
 '1010022300': 1000,
 '1010034600': 1000,
 '1010035300': 1000,
 '1010030000': 1000,
 '1000011700': 1000,
 '1010014400': 1000,
 '1010029600': 1000,
 '1010035000': 1000,
 '1010035400': 1000,
 '1220061000': 1000,
 '1030030000': 1000,
 '1000014100': 1000,
 '1020030000': 1000,
 '1010031400': 1000,
 '1010029700': 1000,
 '1010027700': 1000,
 '1030033400': 1000,
 '1000009900': 1000,
 '1010016500': 1000,
 '1030023800': 1000,
 '1000031400': 1000,
 '1010019400': 1000,
 '1030022100': 1000,
 '1030014600': 1000,
 '1020029900': 1000,
 '1010034900': 1000,
 '1020032100': 1000,
 '1000011200': 1000,
 '1020029600': 1000,
 '1020028200': 1000,
 '1030020800': 1000,
 '1000011400': 1000,
 '1000014700': 1000,
 '1030028300': 1000,
 '1000014000': 1000,
 '1010029100': 1000,
 '1010022500': 1000,
 '1010033500': 1000,
 '1000014300': 1000,
 '1030013400': 1000,
 '1020033800': 1000,
 '1010034000': 1000,
 '1030020200': 1000,
 '1030022200': 1000,
 '1030024900': 1000,
 '1020029400': 1000,
 '1000012300': 1000,
 '1030033000': 1000,
 '1030013800': 1000,
 '1030023300': 1000,
 '1220060100': 1000,
 '1030026800': 1000,
 '1010016700': 1000,
 '1000011300': 1000,
 '1010035500': 1000,
 '1030023200': 1000,
 '1030021300': 1000,
 '1030035000': 1000,
 '1030022700': 1000,
 '1000014400': 1000,
 '1000031200': 1000,
 '1020024100': 1000,
 '1010029200': 1000,
 '1030012400': 1000,
 '1030034600': 1000,
 '1010031300': 1000,
 '1010018400': 1000,
 '1030034700': 1000,
 '1030034500': 1000,
 '1020023700': 1000,
 '1030029600': 1000,
 '1030005700': 1000,
 '1010017000': 1000,
 '1010028900': 1000,
 '1030022000': 1000,
 '1000011000': 1000,
 '1000031300': 1000,
 '1000015000': 1000,
 '1000012500': 1000,
 '1010003200': 1000,
 '1000006800': 1000,
 '1030012300': 1000,
 '1000009200': 1000,
 '1000010900': 1000,
 '1010016800': 1000,
 '1030011900': 1000,
 '1010018100': 1000,
 '1030021500': 1000,
 '1220059300': 1000,
 '1220059100': 1000,
 '1030025300': 1000,
 '1030012100': 1000,
 '1220060600': 1000,
 '1030012700': 1000,
 '1000010500': 1000,
 '1000014900': 1000,
 '1030012800': 1000,
 '1220061100': 1000,
 '1020025400': 1000,
 '1010014300': 1000,
 '1000011600': 1000,
 '1020025300': 1000,
 '1000011100': 1000,
 '1020024600': 1000,
 '1000010400': 1000,
 '1030034200': 1000,
 '1010028600': 1000,
 '1010016200': 1000,
 '1220058300': 1000,
 '1010032600': 1000,
 '1020022300': 1000,
 '1030005400': 1000,
 '1010016300': 1000,
 '1030034300': 1000,
 '1000017400': 1000,
 '1000001600': 1000,
 '1030024400': 1000,
 '1010023600': 1000,
 '1020039500': 1000,
 '1000010100': 1000,
 '1010013900': 1000,
 '1030011500': 1000,
 '1030015200': 1000,
 '1000020700': 1000,
 '1030013200': 1000,
 '1020023600': 1000,
 '1020023800': 1000,
 '1020038900': 1000,
 '1020016100': 1000,
 '1020039400': 1000,
 '1010017700': 1000,
 '1010016000': 1000,
 '1000031500': 1000,
 '1000014500': 1000,
 '1010012800': 1000,
 '1020026200': 1000,
 '1050015300': 1000,
 '1000001300': 1000,
 '1010005900': 1000,
 '1020039000': 1000,
 '1220059400': 1000,
 '1020021900': 1000,
 '1050015400': 1000,
 '1220061200': 1000,
 '1010014600': 1000,
 '1010015300': 1000,
 '1220056400': 1000,
 '1020020700': 1000,
 '1020016200': 1000,
 '1000010000': 1000,
 '1020031200': 1000,
 '1050015600': 1000,
 '1020015700': 1000,
 '1020031600': 1000,
 '1050016200': 1000,
 '1050016900': 1000,
 '1000004800': 1000,
 '1000017700': 1000,
 '1010028300': 1000,
 '1010032200': 1000,
 '1030012200': 1000,
 '1030025400': 1000,
 '1020017100': 1000,
 '1030000500': 1000,
 '1030015900': 1000,
 '1220054400': 1000,
 '1020019500': 1000,
 '1220010000': 1000,
 '1020024200': 1000,
 '1000022900': 1000,
 '1020017700': 1000,
 '1000009800': 1000,
 '1020031300': 1000,
 '1020015300': 1000,
 '1010029800': 1000,
 '1020030500': 1000,
 '1010014000': 1000,
 '1020017900': 1000,
 '1030015500': 1000,
 '1030016400': 1000,
 '1000006600': 1000,
 '1220055700': 1000,
 '1000022400': 1000,
 '1030036700': 1000,
 '1220061300': 1000,
 '1020018500': 1000,
 '1030033800': 1000,
 '1030036900': 1000,
 '1030011000': 1000,
 '1030024700': 1000,
 '1220055500': 1000,
 '1020018600': 1000,
 '1010028000': 1000,
 '1030026500': 1000,
 '1050014800': 1000,
 '1050013700': 1000,
 '1010015600': 1000,
 '1030007700': 1000,
 '1000023500': 1000,
 '1220059600': 1000,
 '1030018200': 1000,
 '1000019600': 1000,
 '1020003100': 1000,
 '1050000200': 1000,
 '1030037000': 1000,
 '1030036800': 1000,
 '1010032100': 1000,
 '1050017200': 1000,
 '1030015700': 1000,
 '1220062600': 1000,
 '1020030900': 1000,
 '1030027400': 1000,
 '1020021400': 1000,
 '1220057800': 1000,
 '1030037400': 1000,
 '1030027500': 1000,
 '1030010900': 1000,
 '1050011300': 1000,
 '1030031900': 1000,
 '1010030300': 1000,
 '1050020900': 1000,
 '1010032700': 1000,
 '1010014900': 1000,
 '1020031700': 1000,
 '1220055600': 1000,
 '1030007600': 1000,
 '1030015000': 1000,
 '1030024000': 1000,
 '1010008000': 1000,
 '1020028300': 1000,
 '1020014900': 1000,
 '1030018600': 1000,
 '1010016400': 1000,
 '1220055200': 1000,
 '1220060700': 1000,
 '1030008200': 1000,
 '1010027800': 1000,
 '1050015100': 1000,
 '1030037300': 1000,
 '1010008200': 1000,
 '1000020900': 1000,
 '1010016900': 1000,
 '1030012900': 1000,
 '1000022600': 1000,
 '1010012500': 1000,
 '1000009400': 1000,
 '1010015100': 1000,
 '1220063800': 1000,
 '1010014100': 1000,
 '1220053800': 1000,
 '1000013300': 1000,
 '1220054900': 1000,
 '1220060000': 1000,
 '1000021300': 1000,
 '1010016100': 1000,
 '1020000600': 1000,
 '1020029800': 1000,
 '1220058200': 1000,
 '1030031800': 1000,
 '1000015600': 1000,
 '1030028600': 1000,
 '1030018800': 1000,
 '1010015400': 1000,
 '1000004700': 1000,
 '1000021100': 1000,
 '1030011800': 1000,
 '1010028200': 1000,
 '1010001100': 1000,
 '1050015800': 1000,
 '1030037100': 1000,
 '1030024600': 1000,
 '1050017700': 1000,
 '1010021100': 1000,
 '1010017900': 1000,
 '1030026400': 1000,
 '1030029900': 1000,
 '1010032500': 1000,
 '1030031500': 1000,
 '1050022700': 1000,
 '1030037200': 1000,
 '1220052800': 1000,
 '1000021600': 1000,
 '1030010200': 1000,
 '1000006700': 1000,
 '1030007800': 1000,
 '1050016400': 1000,
 '1020019600': 1000,
 '1030023500': 1000,
 '1010027600': 1000,
 '1020015900': 1000,
 '1010011700': 1000,
 '1010029900': 1000,
 '1000008500': 1000,
 '1220058700': 1000,
 '1030030700': 1000,
 '1030027600': 1000,
 '1030029400': 1000,
 '1010013100': 1000,
 '1020026000': 1000,
 '1050016800': 1000,
 '1210051200': 1000,
 '1030023600': 1000,
 '1010026000': 1000,
 '1210002000': 1000,
 '1010036300': 1000,
 '1220054200': 1000,
 '1010027900': 1000,
 '1020013900': 1000,
 '1010027400': 1000,
 '1050013600': 1000,
 '1030024100': 1000,
 '1020016000': 1000,
 '1000016400': 1000,
 '1030029800': 1000,
 '1020020000': 1000,
 '1020018100': 1000,
 '1030026900': 1000,
 '1000011500': 1000,
 '1050021600': 1000,
 '1020013800': 1000,
 '1000021800': 1000,
 '1020001800': 1000,
 '1050018400': 1000,
 '1220062400': 1000,
 '1220059000': 1000,
 '1000023900': 1000,
 '1000013200': 1000,
 '1010025900': 1000,
 '1070007100': 1000,
 '1220053900': 1000,
 '1030030800': 1000,
 '1210051100': 1000,
 '1000009100': 1000,
 '1020027000': 1000,
 '1020002000': 1000,
 '1010006400': 1000,
 '1030008600': 1000,
 '1010008900': 1000,
 '1020032500': 1000,
 '1050018800': 1000,
 '1050018000': 1000,
 '1050021500': 1000,
 '1220056500': 1000,
 '1010021700': 1000,
 '1000002700': 1000,
 '1220057700': 1000,
 '1050021200': 1000,
 '1000018600': 1000,
 '1050018600': 1000,
 '1050019000': 1000,
 '1010033400': 1000,
 '1220059800': 1000,
 '1010033700': 1000,
 '1020024400': 1000,
 '1220058900': 1000,
 '1020032200': 1000,
 '1010027200': 1000,
 '1030025200': 1000,
 '1220051700': 1000,
 '1030014100': 1000,
 '1220002500': 1000,
 '1010023300': 1000,
 '1050021900': 1000,
 '1070006700': 1000,
 '1210050600': 1000,
 '1020003000': 1000,
 '1000023700': 1000,
 '1020024800': 1000,
 '1220058800': 1000,
 '1070007200': 1000,
 '1220049900': 1000,
 '1000007100': 1000,
 '1000013400': 1000,
 '1000014600': 1000,
 '1000023300': 1000,
 '1010004000': 1000,
 '1010024700': 1000,
 '1010021200': 1000,
 '1050021100': 1000,
 '1010023100': 1000,
 '1220051100': 1000,
 '1010006500': 1000,
 '1000009600': 1000,
 '1030009200': 1000,
 '1020005700': 1000,
 '1020038300': 1000,
 '1220062200': 1000,
 '1000013900': 1000,
 '1220057100': 1000,
 '1220049800': 1000,
 '1000008700': 1000,
 '1030035400': 1000,
 '1010000900': 1000,
 '1030007400': 1000,
 '1010015000': 1000,
 '1030017100': 1000,
 '1050014000': 1000,
 '1220051600': 1000,
 '1020033900': 1000,
 '1220058600': 1000,
 '1010021600': 1000,
 '1000007800': 1000,
 '1070006800': 1000,
 '1070007900': 1000,
 '1220048900': 1000,
 '1220002900': 1000,
 '1030009800': 1000,
 '1070007000': 1000,
 '1010004800': 1000,
 '1070007400': 1000,
 '1000021400': 1000,
 '1000010700': 1000,
 '1050019700': 1000,
 '1030030500': 1000,
 '1010024200': 1000,
 '1030024200': 1000,
 '1000024000': 1000,
 '1000009500': 1000,
 '1220050000': 1000,
 '1000007200': 1000,
 '1210050400': 1000,
 '1220052100': 1000,
 '1030020500': 1000,
 '1010027100': 1000,
 '1000024900': 1000,
 '1050018100': 1000,
 '1050019400': 1000,
 '1030035200': 1000,
 '1210050300': 1000,
 '1010013800': 1000,
 '1020022200': 1000,
 '1070001600': 1000,
 '1050014300': 1000,
 '1030006800': 1000,
 '1210051000': 1000,
 '1010008800': 1000,
 '1010015700': 1000,
 '1220061500': 1000,
 '1010030400': 1000,
 '1030035600': 1000,
 '1030034900': 1000,
 '1020018300': 1000,
 '1010012900': 1000,
 '1220048600': 1000,
 '1020030700': 1000,
 '1020014600': 1000,
 '1220061600': 1000,
 '1030020400': 1000,
 '1000021500': 1000,
 '1050020100': 1000,
 '1000017000': 1000,
 '1030035100': 1000,
 '1050024500': 1000,
 '1220048300': 1000,
 '1030020900': 1000,
 '1030019000': 1000,
 '1010015500': 1000,
 '1220052300': 1000,
 '1050024100': 1000,
 '1220061800': 1000,
 '1220051400': 1000,
 '1220060800': 1000,
 '1000025300': 1000,
 '1050011700': 1000,
 '1070006900': 1000,
 '1050024700': 1000,
 '1220058000': 1000,
 '1020018200': 1000,
 '1010014800': 1000,
 '1000008900': 1000,
 '1000025600': 1000,
 '1010034300': 1000,
 '1210051900': 1000,
 '1030008300': 1000,
 '1030035800': 1000,
 '1030006500': 1000,
 '1070001900': 1000,
 '1030034800': 1000,
 '1020014500': 1000,
 '1000012400': 1000,
 '1050020200': 1000,
 '1220053600': 1000,
 '1010017800': 1000,
 '1030003800': 1000,
 '1000025400': 1000,
 '1050024600': 1000,
 '1050025100': 1000,
 '1070006600': 1000,
 '1010034100': 1000,
 '1010033800': 1000,
 '1030020300': 1000,
 '1020018000': 1000,
 '1010036100': 1000,
 '1220048400': 1000,
 '1210049700': 1000,
 '1000025000': 1000,
 '1030016000': 1000,
 '1030021600': 1000,
 '1010004900': 1000,
 '1220057900': 1000,
 '1020035300': 1000,
 '1050012800': 1000,
 '1030007000': 1000,
 '1220047500': 1000,
 '1220050700': 1000,
 '1030010300': 1000,
 '1210050800': 1000,
 '1000007000': 1000,
 '1220062100': 1000,
 '1010013500': 1000,
 '1050012000': 1000,
 '1010008100': 1000,
 '1010016600': 1000,
 '1050011500': 1000,
 '1000007700': 1000,
 '1220051900': 1000,
 '1000008600': 1000,
 '1020035200': 1000,
 '1050013200': 1000,
 '1210049400': 1000,
 '1210049100': 1000,
 '1050014500': 1000,
 '1210048600': 1000,
 '1070008800': 1000,
 '1050019800': 1000,
 '1010020200': 1000,
 '1010011400': 1000,
 '1210049800': 1000,
 '1220047300': 1000,
 '1050024200': 1000,
 '1030032800': 1000,
 '1030016300': 1000,
 '1010012200': 1000,
 '1010018500': 1000,
 '1020035100': 1000,
 '1000021200': 1000,
 '1070007800': 1000,
 '1050020400': 1000,
 '1070009200': 1000,
 '1210050100': 1000,
 '1000022000': 1000,
 '1000010800': 1000,
 '1050014400': 1000,
 '1050017500': 1000,
 '1050013500': 1000,
 '1220060200': 1000,
 '1070009300': 1000,
 '1030020100': 1000,
 '1220062300': 1000,
 '1000008800': 1000,
 '1010012400': 1000,
 '1050024800': 1000,
 '1220055000': 1000,
 '1050020300': 1000,
 '1220059700': 1000,
 '1030020600': 1000,
 '1000031000': 1000,
 '1210050200': 1000,
 '1050010500': 1000,
 '1220057300': 1000,
 '1050014900': 1000,
 '1000007400': 1000,
 '1030012600': 1000,
 '1000017900': 1000,
 '1030021700': 1000,
 '1070007300': 1000,
 '1220049600': 1000,
 '1010019500': 1000,
 '1010000700': 1000,
 '1020035800': 1000,
 '1010003700': 1000,
 '1220051500': 1000,
 '1030015600': 1000,
 '1000009700': 1000,
 '1030033200': 1000,
 '1070009700': 1000,
 '1220060400': 1000,
 '1030032000': 1000,
 '1010008700': 1000,
 '1070009800': 1000,
 '1000013000': 1000,
 '1050012700': 1000,
 '1030007300': 1000,
 '1020011600': 1000,
 '1000002000': 1000,
 '1000009000': 1000,
 '1210050500': 1000,
 '1220046800': 1000,
 '1000017300': 1000,
 '1220048800': 1000,
 '1010017200': 1000,
 '1070009900': 1000,
 '1000008000': 1000,
 '1220060300': 1000,
 '1010012100': 1000,
 '1070008000': 1000,
 '1050020600': 1000,
 '1030032600': 1000,
 '1020035000': 1000,
 '1030033500': 1000,
 '1070002300': 1000,
 '1020036800': 1000,
 '1010009400': 1000,
 '1000010300': 1000,
 '1020016600': 1000,
 '1020005500': 1000,
 '1010019100': 1000,
 '1000007300': 1000,
 '1000002500': 1000,
 '1030033600': 1000,
 '1030035900': 1000,
 '1000026000': 1000,
 '1000009300': 1000,
 '1220056300': 1000,
 '1030012000': 1000,
 '1010017100': 1000,
 '1030008700': 1000,
 '1000019200': 1000,
 '1030034100': 1000,
 '1220059900': 1000,
 '1210049600': 1000,
 '1220051800': 1000,
 '1020017000': 1000,
 '1070007500': 1000,
 '1070010200': 1000,
 '1070001700': 1000,
 '1220061700': 1000,
 '1020016400': 1000,
 '1030002600': 1000,
 '1070010300': 1000,
 '1010001000': 1000,
 '1000013500': 1000,
 '1000008400': 1000,
 '1010036200': 1000,
 '1010009800': 1000,
 '1020013700': 1000,
 '1020015400': 1000,
 '1010035800': 1000,
 '1000018100': 1000,
 '1220063900': 1000,
 '1000021900': 1000,
 '1010009300': 1000,
 '1030035700': 1000,
 '1220055400': 1000,
 '1030037500': 1000,
 '1010008400': 1000,
 '1220044200': 1000,
 '1010035700': 1000,
 '1000025900': 1000,
 '1000008300': 1000,
 '1000007600': 1000,
 '1070010500': 1000,
 '1220049700': 1000,
 '1030011700': 1000,
 '1010015800': 1000,
 '1020009400': 1000,
 '1000020300': 1000,
 '1010010200': 1000,
 '1010034200': 1000,
 '1030030400': 1000,
 '1000003000': 1000,
 '1070009500': 1000,
 '1210048700': 1000,
 '1220056100': 1000,
 '1030004700': 1000,
 '1010034500': 1000,
 '1070010400': 1000,
 '1020009300': 1000,
 '1030026600': 1000,
 '1050026100': 1000,
 '1010011500': 1000,
 '1010018700': 1000,
 '1070008600': 1000,
 '1000026400': 1000,
 '1220044900': 1000,
 '1010035900': 1000,
 '1000007900': 1000,
 '1220059500': 1000,
 '1010013600': 1000,
 '1210048800': 1000,
 '1030027000': 1000,
 '1210047900': 1000,
 '1210048400': 1000,
 '1000013700': 1000,
 '1020014400': 1000,
 '1010009100': 1000,
 '1030008900': 1000,
 '1000019700': 1000,
 '1220043400': 1000,
 '1010018200': 1000,
 '1220050300': 1000,
 '1220058400': 1000,
 '1220052200': 1000,
 '1050024900': 1000,
 '1050026000': 1000,
 '1010010600': 1000,
 '1000016100': 1000,
 '1030003300': 1000,
 '1030023400': 1000,
 '1030029100': 1000,
 '1020015000': 1000,
 '1000021000': 1000,
 '1050012900': 1000,
 '1220053400': 1000,
 '1220057200': 1000,
 '1050026800': 1000,
 '1070010600': 1000,
 '1000018300': 1000,
 '1010000300': 1000,
 '1010011800': 1000,
 '1220061900': 1000,
 '1010011100': 1000,
 '1010034400': 1000,
 '1020032300': 1000,
 '1010011000': 1000,
 '1000016200': 1000,
 '1030001300': 1000,
 '1050022500': 1000,
 '1000019400': 1000,
 '1220045500': 1000,
 '1000020200': 1000,
 '1070009600': 1000,
 '1070010800': 1000,
 '1010018000': 1000,
 '1030035300': 1000,
 '1020013300': 1000,
 '1210047800': 1000,
 '1220042800': 1000,
 '1070008400': 1000,
 '1000012000': 1000,
 '1030019900': 1000,
 '1050014100': 1000,
 '1030036000': 1000,
 '1220052700': 1000,
 '1000026200': 1000,
 '1010009700': 1000,
 '1070007600': 1000,
 '1220046300': 1000,
 '1020025200': 1000,
 '1070011400': 1000,
 '1030032700': 1000,
 '1020027500': 1000,
 '1000004600': 1000,
 '1050025000': 1000,
 '1050001900': 1000,
 '1220045200': 1000,
 '1000008200': 1000,
 '1000031100': 1000,
 '1010020000': 1000,
 '1010017500': 1000,
 '1000018200': 1000,
 '1070009400': 1000,
 '1210047200': 1000,
 '1030006400': 1000,
 '1070010900': 1000,
 '1010010000': 1000,
 '1010020500': 1000,
 '1020038600': 1000,

In [19]:
{idx: if(val <= 1000): val == 0 for idx, val in pairNode.items() if (val <= 1000)}

SyntaxError: invalid syntax (<ipython-input-19-57e4ad16b074>, line 1)

In [16]:
new_dict = {idx: val for idx, val in pairNode.items() if (val <= 1000)}

In [17]:
new_dict

{'1010006000': 0,
 '1010005700': 69.3582085487,
 '1010005800': 73.2255383225,
 '1010005600': 121.5255372943,
 '1010000400': 271.070562822,
 '1030019800': 273.86800924930003,
 '1030018900': 459.1692356733,
 '1030019200': 463.2744601187,
 '1030036200': 477.2560963316,
 '1010007800': 483.91952521,
 '1030036400': 583.8175617766,
 '1030017500': 588.4515771446,
 '1030036300': 683.0126326869,
 '1030003200': 685.8277643773,
 '1030017700': 707.3636631441,
 '1030015100': 839.2574326346,
 '1010010300': 855.450205952,
 '1010014500': 936.4685724020001,
 '1010010400': 939.6566613273001,
 '1030018100': 943.7105522053,
 '1010009900': 985.5174004496,
 '1030002400': 997.2058143346001}

In [ ]:
(lambda x: if x <= y)(10)