In [349]:
import pandas as pd

In [401]:
df = pd.read_csv('temp/anal_AllPotenSOC_network.csv')

In [402]:
df.head()

   Unnamed: 0  NODE_KEY   EQ_SCORE
0           0    545596  669988336
1           1    535348  669988336
2           2    536731  669988336
3           3    536825  666563698
4           4    536307  671634206

In [403]:
numofclfy = 10

In [404]:
# x = [a*step for a in reversed(range(0, numofclfy + 1))]
x = [a*step for a in range(0, numofclfy + 1)]
x

[0.0, 10.0, 20.0, 30.0, 40.0, 50.0, 60.0, 70.0, 80.0, 90.0, 100.0]

In [405]:
# distscore = dict(zip(df['OBJECTID'].tolist(), df['ACC_SCORE'].tolist()))

In [406]:
import numpy as np

In [407]:
scorefield = 'EQ_SCORE'
clsfy = np.nanpercentile(df[scorefield], x, interpolation='linear')
clsfy

array([6.04797585e+08, 6.57748109e+08, 6.65921318e+08, 6.69988336e+08,
       6.69988336e+08, 6.69988336e+08, 6.69988336e+08, 6.69988336e+08,
       6.70059864e+08, 6.72398023e+08, 6.80138500e+08])

In [408]:
clsfy[len(clsfy)-1] = df[scorefield].max(skipna=True) + 1
clsfy[0] = df[scorefield].min(skipna=True) -1
# clsfy[0] = df[scorefield].max(skipna=True) + 1
# clsfy[len(clsfy)-1] = df[scorefield].min(skipna=True) -1
clsfy

array([6.04797584e+08, 6.57748109e+08, 6.65921318e+08, 6.69988336e+08,
       6.69988336e+08, 6.69988336e+08, 6.69988336e+08, 6.69988336e+08,
       6.70059864e+08, 6.72398023e+08, 6.80138501e+08])

In [413]:
i = 0
prevalue = None
for gradeval in clsfy:
    if prevalue is not None:
        if prevalue != gradeval:
            # 클수록 좋은 점수일 경우
#             print('{} > {} >= {}'.format(prevalue, i, gradeval))
#             df.loc[(prevalue > df['EF_SCORE']) & (df['EF_SCORE'] >= gradeval), 'EQ_GRADE'] = i
            # 작을수록 좋은 점수일 경우
            print('{} < {} <= {}'.format(prevalue, i, gradeval))
            df.loc[(prevalue < df[scorefield]) & (df[scorefield] <= gradeval), 'GRADE'] = i
    prevalue = gradeval
    pregrade = i
    i += 1

604797584.0 < 1 <= 657748109.1999999
657748109.1999999 < 2 <= 665921318.4
665921318.4 < 3 <= 669988336.0
669988336.0 < 8 <= 670059863.8000001
670059863.8000001 < 9 <= 672398023.0
672398023.0 < 10 <= 680138501.0

In [416]:
df.head()

   Unnamed: 0  NODE_KEY   EQ_SCORE  GRADE
0           0    545596  669988336    3.0
1           1    535348  669988336    3.0
2           2    536731  669988336    3.0
3           3    536825  666563698    3.0
4           4    536307  671634206    9.0

In [421]:
df.loc[df.GRADE == None]

Empty DataFrame
Columns: [Unnamed: 0, NODE_KEY, EQ_SCORE, GRADE]
Index: []

In [180]:
i = 0

prevalue = 0
pregrade = 1
for gradeval in clsfy:
    i += 1
    if prevalue == gradeval:
        curgrade = pregrade
    else:
        curgrade = i 
#     if > 0: /
    print(curgrade, gradeval, pregrade)
#     if i > 0 and curgrade != pregrade:
#         print('{} < {} <= {}'.format(gradeval, curgrade, gradeval))
    
    if curgrade != pregrade:
        prevalue = pregrade
        pregrade = i

1 0.0 1
1 0.0 1
1 0.0 1
1 0.0 1
5 420.02260015541316 1
6 625.5141452016976 5
7 789.1765163292531 6
8 929.2127284968794 7
9 1266.748956986295 8
10 1706.0252708400674 9
11 4453.372369364163 10

In [191]:
i = 0

prevalue = 0
pregrade = 1
for gradeval in clsfy:
    i += 1
    if prevalue == gradeval:
        curgrade = pregrade
    else:
        curgrade = i 

    if i > 0:
#         if curgrade != pregrade:
        print('{} < {} <= {}'.format(prevalue, curgrade, gradeval))
    
    if curgrade != pregrade:
        prevalue = gradeval
        pregrade = i

0 < 1 <= 0.0
0 < 1 <= 0.0
0 < 1 <= 0.0
0 < 1 <= 0.0
0 < 5 <= 420.02260015541316
420.02260015541316 < 6 <= 625.5141452016976
625.5141452016976 < 7 <= 789.1765163292531
789.1765163292531 < 8 <= 929.2127284968794
929.2127284968794 < 9 <= 1266.748956986295
1266.748956986295 < 10 <= 1706.0252708400674
1706.0252708400674 < 11 <= 4453.372369364163

In [ ]:
df['qcut'] = pd.qcut(df['val'], int(len(df)/4), duplicates='drop', labels=False)

In [ ]:
df

In [126]:
df.quantile([0.25, 0.5, 0.75, 1], numeric_only=False)

         id  val  qcut
0.25  13.25  0.0   0.0
0.50  25.50  3.0   0.0
0.75  37.75  4.0   1.0
1.00  50.00  8.0   3.0

In [127]:
df.quantile([0.25, 0.5, 0.75, 1], numeric_only=True)

         id  val  qcut
0.25  13.25  0.0   0.0
0.50  25.50  3.0   0.0
0.75  37.75  4.0   1.0
1.00  50.00  8.0   3.0

In [3]:
df = pd.read_csv('temp/anal_AllPotenSOC_network.csv')

In [7]:
df.head(5)

   Unnamed: 0  NODE_KEY    EQ_SCORE
0           0    536350  1282131825
1           1    536350  1282131825
2           2    544669  1282131825
3           3    528598  1282131825
4           4    532963  1282131825

In [25]:
pd.qcut(df['EQ_SCORE'], int(len(df)/10), duplicates='drop', labels=False)

0      2
1      2
2      2
3      2
4      2
      ..
99     5
100    5
101    2
102    4
103    2
Name: EQ_SCORE, Length: 104, dtype: int64

In [29]:
df['rank'] = pd.qcut(df['EQ_SCORE'], int(len(df)/10), duplicates='drop', labels=False)

In [31]:
df.to_csv('temp/test.csv')

In [28]:
int(len(df)/10)

10